---
interface Heading {
  depth: number;
  slug: string;
  text: string;
}

interface Props {
  headings: Heading[];
  levels?: 1 | 2 | 3;
}

const { headings, levels = 2 } = Astro.props as Props;
const filteredHeadings = headings.filter((heading) => heading.depth <= levels);
---

<div
  class="rounded-lg border border-gray-700 bg-gray-800 p-4 text-sm leading-tight shadow-sm"
>
  <h4 class="mb-3 text-lg font-semibold text-white">Table of Contents</h4>
  <ul class="space-y-2">
    {
      filteredHeadings.map((heading) => (
        <li
          class:list={{
            "pl-0": heading.depth === 1,
            "pl-3": heading.depth === 2,
            "pl-6": heading.depth === 3,
          }}
        >
          <a
            href={`#${heading.slug}`}
            class="toc-link block py-1 text-gray-300 transition-colors duration-200 hover:text-blue-400"
          >
            {heading.text}
          </a>
        </li>
      ))
    }
  </ul>
</div>

<script src="../../scripts/toc"></script>
