---
import { Icon } from "astro-icon";
import Card from "./Card.astro";
import Tooltip from "./Tooltip.astro";
---

<>
  <h1 class="text-center text-4xl font-bold leading-none tracking-tight">
    My Tech Stack
  </h1>
  <div class="relative mt-8 flex items-center justify-center">
    <div class="mx-auto h-[480px] w-[1px] border border-neutral-border"></div>
    <div
      class="absolute mx-auto h-[1px] w-full max-w-[1130px] border border-neutral-border"
    >
    </div>
    <div class="absolute mx-auto grid w-full max-w-[1130px] grid-cols-2">
      <div class="flex h-[200px] w-full items-center justify-center">
        <Card
          cardFooter="frontend"
          cardWidth="w-[150px] sm:w-[240px] xl:w-[480px]"
        >
          <div class="mx-auto grid grid-cols-2 justify-center sm:flex">
            <Tooltip text="react">
              <Icon name="react" class="svgRotate sm:my-2 md:my-2 lg:my-2" />
            </Tooltip>
            <Tooltip text="remix">
              <Icon name="remix" class="svgRotate sm:my-2 md:my-2 lg:my-2" />
            </Tooltip>
            <Tooltip text="astro">
              <Icon
                name="astro_logo_figma"
                class="svgRotate max-sm:my-1 sm:my-2 md:my-2 lg:my-2"
              />
            </Tooltip>
            <Tooltip text="tailwind">
              <Icon
                name="tailwind"
                class="svgRotate max-sm:my-1 sm:my-2 md:my-2 lg:my-2"
              />
            </Tooltip>
          </div>
        </Card>
      </div>
      <div class="flex h-[200px] w-full items-center justify-center">
        <Card
          cardFooter="backend"
          cardWidth="w-[150px] sm:w-[240px] xl:w-[480px]"
        >
          <div class="mx-auto grid grid-cols-2 justify-center sm:flex">
            <Tooltip text="nodejs">
              <Icon name="nodejs" class="svgRotate my-1 xl:my-0" />
            </Tooltip>
            <Tooltip text="mongodb">
              <Icon name="mongodb" class="svgRotate xl:my-0" />
            </Tooltip>
            <Tooltip text="mysql">
              <Icon name="mysql" class="svgRotate xl:my-0" />
            </Tooltip>
          </div>
        </Card>
      </div>
      <div class="flex h-[200px] w-full items-center justify-center">
        <Card
          cardFooter="deployment & CI/CD"
          cardWidth="w-[150px] sm:w-[240px] xl:w-[480px]"
        >
          <div class="mx-auto grid grid-cols-2 justify-center sm:flex">
            <Tooltip text="gitlab">
              <Icon name="gitlab" class="svgRotate sm:my-2 md:my-2 lg:my-1" />
            </Tooltip>
            <Tooltip text="railway">
              <Icon name="railway" class="svgRotate sm:my-2 md:my-2 lg:my-1" />
            </Tooltip>
            <Tooltip text="github-mark-white">
              <Icon
                name="github-mark-white"
                class="svgRotate max-sm:my-1 sm:my-2 md:my-2 lg:my-1"
              />
            </Tooltip>
            <Tooltip text="vercel">
              <Icon
                name="vercel"
                class="svgRotate max-sm:my-1 sm:my-2 md:my-2 lg:my-1"
              />
            </Tooltip>
          </div>
        </Card>
      </div>
      <div class="flex h-[200px] w-full items-center justify-center">
        <Card
          cardFooter="notes & ideation 💡"
          cardWidth="w-[150px] sm:w-[240px] xl:w-[480px]"
          ]
        >
          <div class="mx-auto grid grid-cols-2 justify-center sm:flex">
            <Tooltip text="notion">
              <Icon name="notion" class="svgRotate mx-1 my-1" />
            </Tooltip>
            <Tooltip text="excalidraw">
              <Icon
                name="excalidraw"
                class="svgRotate my-1 h-10 w-10 sm:mx-4 sm:my-0"
              />
            </Tooltip>
          </div>
        </Card>
      </div>
    </div>
  </div>
</>
